.homepage-container {
  width: 100%;
  max-width: 1200px; /* You can adjust this value */
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}

body {
  background-color: #f4f4f4;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.categories {
  margin-bottom: 20px;
}

.categories ul {
  list-style-type: none;
  padding: 0;
}

.categories li {
  cursor: pointer;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  text-align: center;
  background-color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.categories li:hover,
.categories li.active {
  background-color: #007bff;
  color: white;
}

.products {
  margin-top: 20px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  justify-items: center;
  margin-top: 40px;
}

.product-card {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 20px;
  background-color: #ffffff;
  text-align: center;
  width: 100%;
  max-width: 350px;
}

.product-card img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 15px;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.product-card h3 {
  margin: 10px 0 5px;
  color: #333;
}

.product-card p {
  margin: 5px 0;
  color: #777;
}

.hero-section {
  background-image: url("https://gnd-tech.com/content/2018/11/corsair-vengeance-5180-gaming-pc-09-e1541614164689.png"); /* Replace with your image */
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  color: white;
  text-align: center;
}

.hero-section h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.hero-section p {
  font-size: 24px;
  margin-bottom: 30px;
}
